<!DOCTYPE html>
<html>
<head>
    <title>港澳台电视直播在线观看</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>
<body>
<div class="main_box">
    <div class="about_box" style="padding: 2%;width: 96%;font-size: 1.2em;font-weight: bold;">
        <section>
            <section>
                <section>
                    <section>
                        <section></section>
                        <section>
                            <p class="" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; font-size: 20px; color: rgb(91, 167, 243); min-width: 1em; box-sizing: border-box !important; overflow-wrap: break-word !important; text-align: center;">
                                活动详情
                            </p>
                        </section>
                        <section></section>
                    </section>
                </section>
                <section>
                    <section>
                        <p class="" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; font-size: 14px; color: rgb(6, 6, 6); min-width: 1px; line-height: 24px; box-sizing: border-box !important;text-align: center;">
                            邀请好友回归得好礼~
                        </p>
                        <p class="" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; font-size: 14px; color: rgb(6, 6, 6); min-width: 1px; line-height: 24px; box-sizing: border-box !important;text-align: center;">
                            生成独有的邀请链接，复制并发送给要邀请的好友
                        </p>
                        <div style="background-color:#2b2b2b;color:#a9b7c6;font-family:&#39;宋体&#39;;font-size:12.0pt;">将下面链接复制并发送倒好友或朋友圈，每邀请一个新用户，就可以增加一天体验时间，不设上限!</div>
                        <p class="" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; font-size: 14px; color: rgb(6, 6, 6); min-width: 1px; line-height: 24px; box-sizing: border-box !important; overflow-wrap: break-word !important; text-align: center;">
                            <br/>
                        </p>
                        <p>
                            <input type="url" value="http://wx.haixialiangan.wang?share_id={$user_id}" style="width: 98%;height: 40px;line-height: 40px;padding-left: 5px;font-weight: bold;font-size: 1.2em;">
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </div>
</body>
</html>