<!DOCTYPE html>
<html>
<head>
    <title>直播港澳台</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>
<body>
<div class="main_box">
    <div class="my_box mt_20">
        <div class="about_box">
            <div class="txt">
                <div id="a1">
                    <video  src="{$current_video_url}" width="100%" height="auto" controls="" x5-playsinline="" playsinline="" webkit-playsinline="" poster="" preload="auto"></video>
                </div>
            </div>

            <ul class="abc">
                <li class="ml"><a href="/video_id/{$last_video_id}" style="color:#fff">上一个</a></li>
                <li class="mcen">请点击上面<img src="http://wx.ottcom.cn/Public/start.png" style="width:14px;margin:0 2px" />按钮播放</li>
                <li class="mr"><a href="/video_id/{$next_video_id}" style="color:#fff">下一个</a></li>
            </ul>
            <div class="gunad">
                <marquee scrollamount="3">请点下网址&quot;收藏&quot;或-点右上角&quot;在聊天置顶或◎浮窗&quot;可置顶快捷看视频</marquee>
            </div>
            <div class="pindao">
                <ul id="mlist">
                    {foreach $video_list as $key=>$vo}
                    <li class="item"><a href="/video_id/{$vo.id}" {if condition="$current_id eq $vo.id"}style="color:red;font-weight:bold;font-size:1.5em;"{/if}>{$vo.name}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="fleft">
            <p>敬告：直播资源来自网络，如有侵权，请联系删除！★注★安卓手机延时2秒，IPHONE延时15秒★ </p>
            <p>敬告：珍惜生命，请远离赌博！</p>
            <p style="text-align: center;color: red">※※※【开通会员，扫码微信联系客服】※※※</p>
            <p style="text-align: center;">
                <img src="/assets/img/weixin.jpg">
            </p>
        </div>
        <div class="fright">
        </div>
    </div>
</div>
</body>
</html>