<!DOCTYPE html>
<html>
<head>
    <title>港澳台电视直播在线观看</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>
<body>
<div class="main_box">
    {if condition = "empty($current_video_url)"}
    <legend style="padding:1%;line-height: 30px;font-size: 1.5em;background: red;color:white;text-align: center;width: 98%">{$msg}</legend>
    {else /}
    <header style="height: 30px;line-height: 30px;width: 98%;background: #000;color: red;text-align: left;padding: 0 1%;overflow: hidden;border-bottom: 1px solid lightgrey;">
        <div style="float: left;">恭喜你成为本站第{$user_id}位会员</div>
        <div style="float: right;">会员剩余<strong>{$left_days}</strong>天</div>
    </header>
    {/if}
    <div class="my_box mt_20">
        <div class="about_box">
            <div class="txt">
                <div style="position: relative;">
                    <video  src="{$current_video_url}" width="100%"  autoplay height="auto" controls="" x5-playsinline="true"  preload="auto"  playsinline="true" webkit-playsinline="true" x5-video-player-type="h5" poster="/assets/img/ad.png">
                    </video>
                    <div style="position: absolute;bottom: 12px;right: 1%;padding: 1% 4%;background: #555;color: white; width: 25%;text-align: center;z-index: 9999;">{$current_video_name}</div>
                </div>
            </div>
           <!-- <ul class="abc">
                <li class="mcen">请点击上面<img src="/assets/img/right.png" style="width:14px;margin:0 2px" />按钮播放</li>
            </ul>-->
            <div class="gunad">
                <marquee scrollamount="3">方便下次观看，请点击右上角按钮↑，❤收藏❤本网址</marquee>
            </div>
            <div class="pindao">
                <ul id="mlist">
                    {foreach $video_list as $key=>$vo}
                    <li class="item"><a href="/?video_id={$vo.id}" {if condition="$current_id eq $vo.id"}style="color:red;font-weight:bold;font-size:1.5em;"{/if}>{$vo.name}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>

    {if condition = "$is_allow_assit eq 1"}
    <div style="position: fixed;top: 50%;right: 2%;width: 50px;height:50px;background: #000;text-align:center;line-height:50px;color: red;display: inline-block;border-radius: 3em;font-size: 2em;z-index: 9999;" onclick="window.location.href='/index/index/assit';">赚</div>
    {/if}
    <div class="footer">
        <div class="fleft">
            <p>温馨提示：直播资源全部来源于网络，如有侵权，请联系删除！ </p>
            <p>严重敬告：珍惜生命，请远离黄赌毒！</p>
            <p style="text-align: center;color: red">※※※【开通会员，扫码微信联系客服】※※※</p>
            <p style="text-align: center;">
                <img src="/assets/img/weixin.jpg" width="100%">
            </p>
        </div>
        <div class="fright">
        </div>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ddbe0601f12bf5f6d7316e8f6b6e2353";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
