@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0
}

img {
    max-width:100%;
    height:auto;
}

a {
    color: #000000;
    text-decoration: none;
}

ul li, ol li {
    list-style: none;
}

body {
    font-family:microsoft yahei, san-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin:0;
    padding:0;
}

#main_box{
    width:100%;
    height:auto;
    margin:0 auto;
    padding:0;
    clear:both;
    border:1px solid #ff0000;
}

.art_list dl{
    background-color: #fff;
    overflow: hidden;
    margin-top:0.2em;
}

.art_list dl dd{
    width: 25%;
    float: right;
    margin-right:10px;
    height:3em;
    line-height: 3em;
}

.art_list dl dt{
    width: 70%;
    float:left;
    height:3em;
    line-height: 3em;
    margin-left:0.4em;
}

.footer{
    background-color: #000;
    color:#fff;
    overflow: hidden;
}

.footer .fleft{
    padding:1em ;
    float: left;
}

.my_box{
    background-color: #fff;
    overflow: hidden;
}

.my_box .expert_box{
    width:50%;
    float: left;
    margin-top:1.5em;
}

.my_box img{
    width:100%;
    border-radius: 3px;
}
.my_box .page{
    overflow: hidden;
    width:100%;
    text-align: center;
    padding-top:1em;
}

.mt_30{
    margin-top: 1em
}

.my_box .common_h2{
    text-align: center;
}


.abc{
    margin-top:5px;
    overflow: hidden;
    background-color: #000;
    padding:5px 0;
    color:#fff;
}
.abc li{
    float: left;
    text-align: center;
}

.ml{
    width:16%;
}
.mr{
    width:16%;
}
.pindao{
    widows: 100%;
    overflow: hidden;
}
.pindao li{
    float: left;
    width:33.33%;
    text-align: center;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
}
.gunad{
    height: 30px;line-height: 30px;
    color:red; font-size: 15px;
}
a{
    font-size: 1.2em;
}
.item>a
{
    text-decoration: underline!important;
}
.mcen
{
    width: 68%;
}
.about_box video
{
    object-fit: fill;
}